
<!-- Challenge 3 apply ejs header layout -->
<%- include("header"); -%>
<h1>Home</h1>

<!-- Challenge 2: Outputs the value into the template (HTML escaped) -->
<p><%= startingContent %></p>

<!-- Challenge 3 apply ejs footer layout -->
<%- include("footer"); -%>