
<!-- Challenge 3 apply ejs header layout -->

<!-- Inside the views folder and create a new folder called partials, move the header and footer.ejs files inside and update the locations for header  -->
<%- include("partials/header"); -%>
<h1>Home</h1>

<!-- Challenge 2: Outputs the value into the template (HTML escaped) -->
<p><%= startingContent %></p>

<!-- Challenge 3 apply ejs footer layout -->
<!-- Inside the views folder and create a new folder called partials, move the header and footer.ejs files inside and update the locations for footer  -->
<%- include("partials/footer"); -%>